body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #424242;
    color: #333;
  }
  
  header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  h2 {
    color: #6edff7;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  h3 {
    color: white;
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
  }
  
  .username-nav {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
  }
  
  main {
    padding: 20px;
  }
  
  .historique-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1em;
    background-color: #ecf0f1; /* Gris clair */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .historique-table th,
  .historique-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .historique-table thead {
    background-color: #3498db;
    color: white;
  }
  
  .historique-table tr:hover {
    background-color: #dfe6e9;
  }
  #objectifs {
    background: #eaf2f8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  #objectifs form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }
  
  #objectifs label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  #objectifs input {
    padding: 5px;
    width: 80px;
  }
  
  #objectifs button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  canvas {
    background-color: #2c3e50;
    border-radius: 10px;
    padding: 10px;
  }
  
  